<div id="article" style="width: 600px; height: 800px; margin: 5px; padding: 5px; background-color: rgb(195, 195, 195);">
	<h1 id="title" class="ui-draggable ui-draggable-handle" style="position: relative;">Title</h1>
    <div id="content" style="width: 400px; height: 400px; padding: 5px; position: relative;" class="ui-draggable ui-draggable-handle">
    	Content
    </div>
    <img src="images/" id="image" style="width: 200px; height: 200px; position: relative; right: auto; bottom: auto; left: 227.038px; top: -97px; border: 1px solid red; background-color: rgb(216, 175, 197);" class="ui-draggable ui-draggable-handle">
    <a href="###" style="margin: 5px; padding: 5px; position: relative;" class="ui-draggable ui-draggable-handle">Link</a>
</div>