<div id="article" style="width: 600px; height: 800px; margin: 5px; padding: 5px;">
    <h1 id="name" class="ui-draggable ui-draggable-handle" style="position: relative;">Name</h1>
    <h2 style="width: 100px; position: relative;" id="title" class="ui-draggable ui-draggable-handle">Cost</h2>
    <div style="display: flex; position: relative;" class="ui-draggable ui-draggable-handle">
        <img src="images/" id="image" style="width: 200px; height: 200px; position: relative; inset: 302px auto auto 13px;" class="ui-draggable ui-draggable-handle">
        <div id="content" style="width: 150px; height: 200px; padding: 5px; position: relative; inset: -32px auto auto 166px; background-color: rgb(226, 218, 218);" class="ui-draggable ui-draggable-handle">
            Content
        </div>
    </div>
    <a href="###" style="margin: 5px; padding: 5px; position: relative; width: 41px; inset: 80px auto auto 71px; height: 33px;" class="ui-draggable ui-draggable-handle">Link</a>
    <div id="time" style="width: 50px; position: relative; inset: -31px auto auto 17px; height: 22.5px;" class="ui-draggable ui-draggable-handle">
        Time
    </div>
</div>