<div id="article" style="width: 600px; height: 800px; margin: 5px; padding: 5px;">
    <h1 id="name" class="ui-draggable ui-draggable-handle" style="position: relative; width: 600px; inset: 0.432187px auto auto -2px; height: 45px;">Name</h1>
    <h2 id="title" class="ui-draggable ui-draggable-handle" style="position: relative; width: 600px; inset: 657.631px auto auto 0px; height: 33.5px; color: rgb(26, 173, 109);">Cost</h2>
    <div id="content" style="width: 400px; height: 400px; padding: 5px; position: relative; inset: -68px auto auto 0px; background-color: rgb(224, 224, 224);" class="ui-draggable ui-draggable-handle">
        Content
    </div>
    <img src="images/" id="image" style="width: 200px; height: 200px; position: relative; inset: -28px auto auto 226px;" class="ui-draggable ui-draggable-handle">
    <a href="###" style="margin: 5px; padding: 5px; position: relative; width: 41px; inset: -155px auto auto -367px; height: 33px;" class="ui-draggable ui-draggable-handle">Link</a>
</div>