<div id="article" style="width:600px; height:800px; margin:5px; padding:5px">
    <h1 id="name">Name</h1>
    <h2 style="width:100px;" id="title">Cost</h2>
    <div style="display:flex">
        <img src="images/" id="image" style="width:200px; height:200px;">
        <div id="content" style="width:150px; height:200px; padding:5px;">
            Content
        </div>
    </div>
    <a href="###" style="margin:5px; padding:5px;">Link</a>
    <div id="time" style="width:50px">
        Time
    </div>
</div>